body {
  background-color: rgb(165, 165, 129);
}

header {
  color: brown;
  text-align: center;
  font-size: 50px;
}

main {
  color: red;
}
h2 {
  font-size: 40px
}
p {
  color: black;
  font-size: large;
}
footer {
  position: static;
  background-color: black;
  height: 100px;
}